* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.move-btn {
  border: none;
  border-radius: 5px;
  background-color: #e9546b;
  color: #fff;
  padding: 4px 8px;
  margin-bottom: 5px;
}

.move-btn:hover {
  background-color: #028760;
  color: #fff;
}

.now-btn {
  color: #ffec47;
}

.sort-btn {
  margin-left: 40px;
  background-color: #706caa;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 2px 8px;
}

.sort-btn:hover {
  background-color: #028760;
  color: #fff;
}

.highlight {
  background-color: #ffec47;
}
